#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp Q      &kp W          &kp E  &kp R      &kp T      &kp Y  &kp U          &kp I    &kp O     &kp P
&kp A      &kp S          &kp D  &kp F      &kp G      &kp H  &kp J          &kp K    &kp L  &kp SEMI
&kp Z      &kp X          &kp C  &kp V      &kp B      &kp N  &kp M      &kp COMMA  &kp DOT  &kp APOS
       &kp LCTRL  &kp LEFT_META  &mo 1  &kp ENTER  &kp SPACE  &mo 2  &kp BACKSPACE   &kp N8
            >;
        };

        layer_1 {
            bindings = <
   &kp N1     &kp N2     &kp N3     &kp N4        &kp N5          &kp N6            &kp N7             &kp N8  &kp N9         &kp N0
&kp TILDE  &kp GRAVE     &trans  &kp SLASH  &kp ASTERISK          &trans  &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &trans  &kp BACKSLASH
   &trans     &trans  &kp MINUS   &kp PLUS     &kp EQUAL  &kp UNDERSCORE    &kp LEFT_BRACE    &kp RIGHT_BRACE  &trans       &kp FSLH
              &trans     &trans     &trans        &trans          &trans            &trans             &trans  &trans
            >;
        };

        layer_2 {
            bindings = <
 &kp F1   &kp F2  &kp F3  &kp F4   &kp F5      &trans    &trans       &kp K_PREV  &kp K_NEXT  &kp K_PLAY_PAUSE
 &kp F6   &kp F7  &kp F8  &kp F9  &kp F10  &kp DELETE    &kp UP  &kp PRINTSCREEN      &trans            &trans
&kp F11  &kp F12  &trans  &trans   &trans    &kp LEFT  &kp DOWN        &kp RIGHT      &trans            &trans
          &trans  &trans  &trans   &trans      &trans    &trans           &trans      &trans
            >;
        };
    };
};
